.toolbar {
	padding: 0 !important;
}

.menu {
	&__item {
		color: white !important;
		&:hover,
		&_active {
			text-decoration: underline !important;
		}
		&_mobile {
			width: 100%;
			text-align: left;
			justify-content: space-between !important;
			> a {
				width: 100%;
			}
		}
	}
}

.submenu {
	background-color: #4caf50;
	color: #fff;
	&-wrapper {
		max-height: 300px;
		box-shadow: none !important;
		border-radius: 0 0 4px 4px !important;
	}
}

.avatar {
	cursor: pointer;
}

.link {
	display: block;
	width: 100%;
	padding: 6px 16px;
}
