.toolbar {
	padding: 0 !important;
}

.menu {
	&__item {
		color: white !important;
		&:hover,
		&_active {
			text-decoration: underline !important;
		}
		&_mobile {
			width: 100%;
			justify-content: start !important;
		}
	}
}

.submenu {
	background-color: #4caf50;
	color: #fff;
	&-wrapper {
		box-shadow: none !important;
		border-radius: 0 0 4px 4px !important;
	}
}

.avatar {
	cursor: pointer;
}
