.wrapper {
	display: flex;
	&_tablet {
		flex-direction: column;
	}
}

.sider {
	width: 250px;
	&_tablet {
		width: 100%;
		&.sider_right {
			order: 2;
		}
	}
}

.loading {
	opacity: 0.5;
}

.content-items_no-data {
	justify-content: center !important;
	padding: 12em 1em;
}
.content {
	order: 2;
	width: calc(100% - 250px - 250px - 1em);
	&_tablet {
		width: 100%;
		order: 3;
	}
}
.search {
	flex: 3;
}
.sort-select {
	flex: 1;
	:global {
		.MuiSelect-select:focus {
			background-color: transparent;
		}
	}
}

.product {
	display: flex;
}

.btn-view {
	min-width: 40px !important;
	height: 40px !important;
	padding: 0 !important;
	border-radius: 0 !important;
	margin-right: 0.25em !important;
}

.items {
	&:not(.content-items_no-data):after {
		content: '';
		width: 280px;
	}
}
