<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="HTTPS force" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                        <conditions>
                            <add input="{HTTPS}" pattern="^OFF$" />
                        </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="server admin" stopProcessing="true">
                    <match url="admin(.*)" />
                   <conditions>
                        <add input="{HTTP_HOST}" pattern="server\.razbor-auto\.by" />
                   </conditions>
                    <action type="Rewrite" url="http://localhost:1337/admin{R:1}" />
                </rule>
                <rule name="server" stopProcessing="true">
                    <match url="^(?!.*uploads\/.+)(.*)$" />
                   <conditions>
                        <add input="{HTTP_HOST}" pattern="server\.razbor-auto\.by" />
                   </conditions>
                    <action type="Rewrite" url="http://localhost:1337/{R:1}" />
                </rule>
                <rule name="client" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^razbor-auto\.by" />
                   </conditions>
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
