<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="HTTPS force" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                        <conditions>
                            <add input="{HTTPS}" pattern="^OFF$" />
                        </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="server admin" stopProcessing="true">
                    <match url="admin(.*)" />
                   <conditions>
                        <add input="{HTTP_HOST}" pattern="server\.razbor-auto\.by" />
                   </conditions>
                    <action type="Rewrite" url="http://localhost:1337/admin{R:1}" />
                </rule>
                <rule name="server" stopProcessing="true">
                    <match url="^(?!.*uploads\/.+)(.*)$" />
                   <conditions>
                        <add input="{HTTP_HOST}" pattern="server\.razbor-auto\.by" />
                   </conditions>
                    <action type="Rewrite" url="http://localhost:1337/{R:1}" />
                </rule>
                <rule name="client" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^razbor-auto\.by" />
                   </conditions>
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="true" />
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
        </staticContent>
        <caching>
            <profiles>
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".json" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>
         <httpProtocol>
            <customHeaders>
                <add name="X-HTTP2-Enabled" value="1" />
                <add name="Cache-Control" value="no-cache, max-age=600" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
