.slider {
    width: 440px;
    &_mobile {
        width: calc(100% - 100px);
    }
    &_small {
        width: 100px;
        margin-right: 1.5em;
        &_mobile {
            margin-right: 0;
        }
        :global {
            .slick-list {
                height: 100% !important;
            }
        }
    }
}
