.slider {
    height: 100%;
    :global {
        .slick-list,
        .slick-track {
            height: 100%;
        }
        .slick-slide > div {
            height: 100%;
        }
        .slick-prev:before,
        .slick-next:before {
            font-size: 30px;
            color: #fff;
        }
        .slick-prev {
            left: -35px;
        }
        // .slick-slide:active,
        // .slick-slide:focus {
        // 	outline: none;
        // }
    }
}
