.footer {
	background-color: #4caf50;
	padding: 20px 0;
	text-align: center;
	&__item {
		height: 100%;
		color: #fff;
		padding: 5px;
		border-radius: 15px;
		border: 0.2px solid #bdbdbd;
		&_map {
			padding: 0;
			height: 100%;
			border-radius: 15px;
		}
		a {
			color: #fff;
		}
	}
}
.map {
	max-width: auto;
	border-radius: inherit;
	height: 100%;
	iframe {
		border-radius: inherit;
		max-width: 100%;
		padding: 0;
	}
}

.share {
	margin: 0 0.1em;
}
