.footer {
	&__item {
		height: 100%;
		color: #fff;
		padding: 5px;
		width: 25%;
		height: 100%;

		&_map {
			padding: 0;
			height: 100%;
			border-radius: 15px;
		}
		a {
			color: #fff;
		}
	}
}
.map {
	max-width: auto;
	border-radius: inherit;
	height: 100%;
	iframe {
		border-radius: inherit;
		max-width: 100%;
		padding: 0;
	}
}

.share {
	margin: 0 0.1em;
}
