.footer {
	&__item {
		color: #fff;
		padding: 0 1.5em;
		width: 25%;
		height: 100%;
		&:nth-child(2) {
			padding: 0 1em;
		}
		&:last-child {
			padding-left: 3em;
		}

		&_map {
			padding: 0 10px;
			height: 100%;
			border-radius: 15px;
		}
		a {
			color: #fff;
		}
	}
}
.map {
	max-width: auto;
	border-radius: inherit;
	height: 100%;
	iframe {
		border-radius: inherit;
		max-width: 100%;
		padding: 0;
	}
}

.share {
	margin: 0 0.1em;
}
