.wrapper {
	display: flex;
	&_tablet {
		flex-direction: column;
	}
}

.sider {
	width: 250px;
	&_left {
		order: 1;
	}
	&_right {
		order: 3;
	}
	&_tablet {
		width: 100%;
		&.sider_right {
			order: 2;
		}
	}
}

.loading {
	opacity: 0.5;
}

.content-items_no-data {
	min-height: calc(100% - 1em);
}

.content {
	order: 2;
	width: calc(100% - 250px - 250px - 1em);
	&_tablet {
		width: 100%;
		order: 3;
	}
}
