.head {
    position: relative;
    &::before {
        content: '';
        background: no-repeat center url('/buyback_banner.png');
        background-size: cover;
        height: 563px;
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
    }
    &::after {
        content: '';
        background: no-repeat center url('/buyback_banner_bmw.png');
        background-size: cover;
        height: 580px;
        width: 786px;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.autocomplete {
    margin-bottom: 1em;
}
