.wrapper {
	display: flex;
}

.sider {
	width: 250px;
}
.loading {
	opacity: 0.5;
}
.content {
	width: calc(100% - 250px - 1em);
}
.search {
	margin-right: 1em;
	flex: 3;
}
.sort-select {
	flex: 1;
}

.product {
	display: flex;
}
